* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(#f4a90d, #8c230b, #3d423c);
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 850px;
}

.logo {
  position: relative;
  margin-right: 3rem;
  visibility: hidden;
}

footer {
  background-color: #3d423c;
  height: 100px;
}

h3 {
  text-align: center;
  font-size: 15px;
  color: #f4a90d;
  font-style: initial;
}

.redes {
  display: flex;
  background-position: center;
  justify-content: center;
}

.redes__wzp {
  justify-items: center;
  align-items: center;
  margin: 8px 2px 0px 0px;
  left: 350px;
  opacity: 0.5;
  width: 50px;
  top: 20px;
}
.redes__wzp:hover {
  opacity: 1;
  color: #8c230b;
}

.redes__ig {
  justify-items: center;
  align-items: center;
  margin: 10px 2px 0px 0px;
  width: 2%;
  left: 400px;
  opacity: 0.5;
  width: 42px;
  top: 23px;
}
.redes__ig:hover {
  opacity: 1;
  color: #8c230b;
}

.main {
  height: 603px;
}

.flex {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 8rem;
  font-family: "Caveat", cursive;
  font-style: normal;
  text-align: center;
  bottom: 30rem;
  right: 600px;
  color: #f4a90d;
  text-align: center;
  animation: bounce;
  animation-duration: 2s;
}

.h2_index {
  color: black;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  overflow: hidden;
  padding-top: 10px;
}

.video__index {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -3;
  width: 100%;
  height: 602px;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.5;
  max-width: 100%;
}

.main2 {
  height: 603px;
}

.h2__historia {
  color: black;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  overflow: hidden;
  padding-top: 10px;
}

.p {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  bottom: 100px;
  font-weight: bolder;
  color: #000;
}

.video__historia {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.5;
}

.main4 {
  height: 1100px;
}

.h2__pizzas {
  color: black;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  overflow: hidden;
  padding-top: 10px;
}

.video__pizzas {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -3;
  width: 100%;
  height: 1100px;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.5;
}

.pizzas__divflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 100px;
  opacity: 1;
}

.card {
  position: relative;
  width: 300px;
  height: 330px;
  margin: 10px 10px 50px 10px;
  background-color: #8c230b;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 20px 50px #000;
}
.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}
.card .front h5 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #f4a90d;
  padding: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 20px 50px #000;
}
.card .back h5 {
  font-size: 20px;
  margin-top: 80px;
  letter-spacing: 2px;
  text-align: center;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.h2__ubicacion {
  color: black;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  overflow: hidden;
  padding-top: 10px;
}

.video__ubicacion {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -3;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.5;
  max-height: 100%;
}

.mapa {
  top: 70px;
  width: 100%;
  height: 300px;
  margin-top: 50px;
  left: 120px;
}

.main6 {
  height: 800px;
}

.h2__pedido {
  color: black;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  overflow: hidden;
  padding-top: 10px;
}

.video__pedido {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -3;
  width: 100%;
  height: 800px;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.5;
  max-height: 120%;
}

form {
  background-color: #f4a90d;
  border-radius: 5px;
  color: #8c230b;
  font-size: 0.8rem;
  padding: 5px;
  margin: 0 auto;
  width: 380px;
  margin-top: 10px;
  height: 520px;
  text-align: center;
  opacity: 0.8;
}

input,
textarea {
  outline: none;
  width: 250px;
  height: 50px;
}

.field {
  border: solid 1px #3d423c;
  padding: 2px;
  width: 280px;
  margin: 0px;
}
.fieldfocus {
  border-color: #8c230b;
}

.field1 {
  border: solid 1px #3d423c;
  padding: 10px;
  width: 280px;
  height: 150px;
  margin: 0px;
}

.center-content {
  text-align: center;
  color: #8c230b;
}

.btn {
  border-radius: 8px;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  width: 180px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.btn-green {
  color: #f4a90d;
  background-color: #8c230b;
}

.btn-green:hover {
  background-color: #8c230b;
}

.btn-green:active {
  background-color: #8c230b;
}

.fondo {
  background-color: #f4a90d;
}

.fondo2 {
  background-color: #8c230b;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 50px;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 5px;
  }
  h3 {
    font-size: 12px;
    text-align: center;
  }
  footer {
    background-color: #3d423c;
    max-height: 1200px;
    height: 200px;
  }
  .redes__wzp {
    width: 40px;
  }
  .redes__ig {
    width: 35px;
  }
  .h2__historia {
    margin-top: 80px;
    color: black;
    font-size: 2rem;
  }
  .p {
    font-size: 1rem;
    color: #000;
  }
  .main4 {
    height: 2700px;
  }
  .video__pizzas {
    height: 2800px;
  }
  .h2__pizzas {
    margin-top: 50px;
    color: black;
    font-size: 2rem;
  }
  .h2__ubicacion {
    margin-top: 80px;
    color: black;
    font-size: 2rem;
  }
  .mapa {
    width: 100%;
    height: 280px;
  }
  .video__index {
    height: 605px;
  }
  .video__ubicacion {
    height: 1000px;
  }
  .main6 {
    height: 600px;
  }
  .h2__pedido {
    margin-top: 20px;
    color: black;
    font-size: 2rem;
  }
  .video__pedido {
    height: 1000px;
  }
  form {
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 2px;
    margin: 0 auto;
    width: 300px;
    margin-top: 10px;
    height: 500px;
    text-align: center;
    opacity: 0.8;
  }
  .btn {
    width: 100px;
    height: 35px;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
