* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

header {
  padding: 10px 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  background: #f4a90d;
}

.container {
  width: 95%;
  max-width: 1320px;
  margin: 0 auto;
}
.col {
  width: 100%;
}
.logo {
  position: relative;
  margin-right: 3rem;
}
.logo1 {
  position: relative;
  width: 70px;
  left: 250px;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1rem;
}

.nav-toggle {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 3rem;
  height: 3rem;
  padding: 0em;
  border-radius: 0.25rem;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.55);
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: black;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}
.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list--primary {
  margin-bottom: 2rem;
}

.nav__item {
  margin-top: 0.75rem;
}

.nav__link {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}

.section {
  background: linear-gradient(#f4a90d, #8c230b, #3d423c);
  padding: 50rem 0 0 0;
  width: 100%;
  height: 300px;
}

h1 {
  font-size: 6rem;
  font-family: "Caveat", cursive;
  font-style: normal;
  text-align: center;
  position: absolute;
  left: 25%;
  bottom: 85%;
}
h2 {
  color: black;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: absolute;
  top: 200px;
  left: 23%;
  margin: 20px;
  overflow: hidden;
}
.h2__historia {
  color: black;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: absolute;
  top: 150px;
  left: 28%;
  margin: 20px;
  overflow: hidden;
}
.h2__pedido {
  color: black;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: absolute;
  top: 150px;
  left: 28%;
  margin: 20px;
  overflow: hidden;
}
.h2__ubicacion {
  color: black;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: absolute;
  top: 150px;
  left: 28%;
  margin: 20px;
  overflow: hidden;
}
.h2__pizzas {
  color: black;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: absolute;
  top: 150px;
  left: 28%;
  margin: 20px;
  overflow: hidden;
}
h3 {
  color: #f4a90d;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  text-align: center;
}
p {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: relative;
  margin: 15%;
  bottom: 750px;
  font-weight: bolder;
}
footer {
  background-color: #3d423c;
  height: 80px;
}

.redes {
  background-position: center;
  position: relative;
}
.redes__wzp {
  position: absolute;
  margin: 1px 2px 0px 0px;
  width: 2%;
  left: 53%;
  opacity: 0.5;
  width: 40px;
}

.redes__wzp:hover {
  opacity: 1;
  color: #8c230b;
}

.redes__ig {
  position: absolute;
  margin: 1px 2px 0px 0px;
  width: 2%;
  left: 40%;
  opacity: 0.5;
  width: 35px;
  top: 5px;
}
.redes__ig:hover {
  opacity: 1;
  color: #8c230b;
}

.article {
  display: flex;
  flex: 0 1 200px;
  flex-direction: row;
  align-items: top;
  justify-content: top;
  border-radius: 1rem;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid;
  width: 40%;
}

.article-img {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}
.article-p {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  order: -1;
  font-weight: bold;
  text-align: start;
  width: 100%;
}

.h3__pizzas {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.mapa {
  position: relative;
  top: 100px;
  width: 100%;
  height: 50%;
}

.form {
  position: relative;
  width: 20%;
  border: 5px;
  top: 80px;
  left: 500px;
}

/*MEDIA QUERIES*/

@media (min-width: 768px) {
  .container {
    width: 80%;
  }
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
    left: 310px;
  }
  .nav__list {
    display: flex;
    margin: 0;
  }
  .nav__item {
    margin: 0 0 0 1.5rem;
    color: black;
    right: 100px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .article {
    display: block;
    flex: 0 1 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 1rem;
    padding: 10px;
    margin-bottom: 20px;
  }

  .article-img {
    display: flex;
    align-self: center;
    width: 200px;
  }
  .article-p {
    position: relative;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    order: -1;
    font-weight: bold;
    text-align: start;
    width: 150px;
    margin-left: 15px;
  }
}

/* #f4a90d (Amarillo)
  #8c230b (bordo)
  #3d423c (gristopo)
  font-family: 'Caveat', cursive;
  font-family: 'Caveat Brush', cursive;
  font-family: 'Montserrat', sans-serif; 


  en secion le ponemos flex y el gap es el espacion entre las cajas 

  placeimg web para darle tamaño a la img
  make some wabes olas en las imagenes
  */
